<!DOCTYPE html>
<html>
<head>
<title>
Listing all employees
</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="controller2.js"></script>
<!-- <script src="controller1.js"></script> -->
</head>
<body>

<body>

<div ng-app="myApp" ng-controller="list">

<div>

offset : <input ng-model="offset" /><br/><br/>

limit : <input ng-model="limit" /><br/><br/>

<input type="button" value="Send" ng-click="postdata(offset, limit)" /> <br/><br/>
</div>
<p>Output Message : {{msg}}</p>
<p>Data Received:
<table>
	<tr>
	<th>ID</th>
	<th>First Name</th>
	<th>Last Name</th>				
	<th>Email</th>
	</tr>
	<tr ng-repeat="employee in employees">
	<td>{{employee.id}}</td>
	<td>{{employee.firstname}}</td>
	<td>{{employee.lastname}}</td>
	<td>{{employee.email}}</td>
</table>
</p>
<p>StatusCode: {{statusval}}</p>
<p>Status: {{statustext}}</p>
<p>Response Headers: {{headers}}</p>
</div>
</body>
</html>